<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Vue</title>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
  <div id="app">
    <input type="checkbox" 
      v-on:click="changeShowTable">
    <component
      @selectcategory='onSelectCategory'
      :categories='categories'
      :is='currentView'></component>
  </div>
  <template id='categoryUlTmpl'>
    <ul>
      <li 
        v-for='category in categories'
        v-on:click='selectCategory(category)'>
        <category-item 
          v-bind:name='category.name'
          v-bind:selected='category.selected'>
        </category-item>
      </li>
    </ul>
  </template>

  <template id='categoriesTableTmpl'>
    <table>
      <thead>
        <th>Name</th>
        <th>Selected</th>
      </thead>
      <tbody>
        <tr
          v-on:click='selectCategory(category)'
          v-for='category in categories'>
          <td>{{ category.name }}</td>
          <td>{{ category.selected }}</td>
        </tr>
      </tbody>
    </table>
  </template>

  <template id='categoryItemTmpl'>
    <div>
      {{ name | replaceWithLove }}
      <b v-if='selected'>selected</b>
    </div>
  </template>

  <script>
    var categoriesListMixin = {
      props: ['categories'],
      methods: {
        selectCategory: function (cat) {
          this.$emit('selectcategory', cat)
        }
      }
    }
    Vue.component('categoryTable', {
      template: '#categoriesTableTmpl',
      mixins: [categoriesListMixin]
    })
    Vue.component('categoryUl', {
      template: '#categoryUlTmpl',
      mixins: [categoriesListMixin]
    })
    Vue.component('categoryItem', {
      template: '#categoryItemTmpl',
      props: ['name', 'selected']
    })

    Vue.filter('replaceWithLove', function (val) {
      return '<3'
    })

    new Vue({
      el: '#app',
      data: {
        categories: [],
        showTable: true
      },
      computed: {
        currentView: function () {
          return this.showTable ? 'categoryTable' : 'categoryUl'
        }
      },
      methods: {
        changeShowTable: function () {
          this.showTable = !this.showTable
        },
        onSelectCategory: function (category) {
          category.selected = !category.selected
        }
      },
      mounted: function () {
         var url = 'https://raw.githubusercontent.com/jesuslerma/vuejs101-guide/master/categories.json'
         var that = this
         axios.get(url).then(function (res) {
          that.categories = res.data
         })
      }
    })
  </script>
</body>
</html>
https://github.com/jesuslerma/vue101workshop